// Specific CSS for your home-page
.premier-para {
  background-color: #d2edff;
  padding-top: 6px;
}

.titre-homepage {
  margin-top: 50px;
  font-weight: bold;
  font-family: serif;
  font-size: 44px;
}

.sous-titre{
  font-style: italic;
}

.premier-btn {
  padding: 9px 24px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  background-image: linear-gradient(300deg, #4dc390, #4381C1);
  transition-duration: 200ms;
  color: #d2edff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.second-btn {
  padding: 9px 24px;
  border-style: solid;
  border-width: 3px;
  border-radius: 8px;
  color: #409e75;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.second-para {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #d2edff;
}

.title-h2-home {
  margin-bottom: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: serif;
}

.text-join-us{
  font-size: 30px;
  font-family: serif;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  background-color: #757575;
  justify-content: center;
}

.third-para {
  background-color: #FFF8D6;

}

.title-p3-home {
  margin-bottom: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding-top: 20px;
  font-family: serif;
}

.carousel-item img{
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.fourth-para {
  background-color: #FFD4B2
}

.title-fourth {
  padding-top: 40px;
}

.container-partenaires {
  max-width: 500px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

.flex-container .item:first-child {
  margin-left: auto;
}

.flex-container .item:last-child {
  margin-right: auto;
}
/* Code that matters
* :END
*/
.logo-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 60px; /* Set the height of the carousel */
  display: flex;
  justify-content: center; /* Center the carousel horizontally */

}

.carousel-container-logo {
  display: flex;
  width: max-content;
  align-items: center; /* Center the carousel items vertically */
  animation: carousel 3s linear infinite;
  gap: 4px;
  animation-direction: alternate;
}

.logo-item img {
  width: 300px;
  height: auto;
}


@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-track {
		animation: scroll 70 linear infinite;
}
