.green-line {
  height: 2px;
  background-color: #EA9010;
  width: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  // padding: 0;
}

.title-dashboard {
  color: white;
}


.container-booking {
  max-width: 800px;
  margin: 4px 13px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #EADDCA;
  background-color: #FAF0E6;
}

.header-profile {
  text-align: center;
  margin-bottom: 20px;
}

.header-profile h1 {
  font-weight: bold;
  font-family: serif;
  font-size: 15px;
}

.bookings {
  margin-bottom: 20px;
  background-color: #FAF0E6;
}

.booking-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
    // overflow: scroll;
  border: 1px solid  #EADDCA;
  }

.booking-info {
  display: flex;
  flex-direction: column;
  border-radius: 20px;

}

.booking-time {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.booking-location {
  font-size: 10px;
  color: #666;
}

.booking-status {
  font-size: 10px;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}

.card-profile-wallet {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #EADDCA;
  background-color: #FAF0E6;
  ;

}


.voucher-link {
  color:#333;
  font-weight: bold;
}

.voucher-info {
  font-size: 12px;
}
.card-body {

}
.wallet-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: serif;
}

.container-card-profile {
  padding: 20px;
}

.profile-card {
	background-color: #AC795C;
  margin-bottom: 20px;
  border-radius: 20px;
}

.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -59px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  height: 101px;
  max-width: 102px;
  transition: all 0.4s;
}


.profile-info {
  color: #E8E8E8;
  padding: 25px;
  position: relative;
  margin-top: 15px;
}

.profile-info h2 {
	color: #E8E8E8;
  padding-bottom: 12px;
  font-weight: bold;
  font-family: serif;
}


.profile-info i {
	color: white;
}

.profile-info i {
  padding: 15px 35px 0px 35px;
}


.profile-card:hover .profile-pic {
	transform: scale(1.1);
}

.profile-card:hover .profile-info hr  {
	opacity: 1;
}

.img-responsive {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}



/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
  border-radius: 0;
}

.premier-paraf {
  background-color: #d2edff;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
}
