.green-line {
  height: 2px;
  background-color: #EA9010;
  width: 100%;
}


.background-card-profile {
  background: linear-gradient(to right top, #DBF9F0, #F6F7EB, #EAEFBD);;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-dashboard {
  color: white;
}


.container-booking {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header-profile {
  text-align: center;
  margin-bottom: 20px;
}

.header-profile h1 {
  font-size: 30px;
  color: #333;
  font-family: 'Lobster', cursive;
}

.bookings {
  margin-bottom: 20px;
}

.booking-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.img-booking {
  border-radius: 5px;
  width: 100%;
}

.booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
    // overflow: scroll;
  border: 1px solid #90BE6D;
}

.booking-info {
  display: flex;
  flex-direction: column;
  border-radius: 20%;

}

.booking-time {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.booking-location {
  font-size: 16px;
  color: #666;
}

.booking-status {
  font-size: 16px;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}
