<div class="footer">
  <%= link_to missions_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to missions_path do %>
    <i class="fa-solid fa-calendar"></i>
  <% end %>

  <%= link_to missions_path do %>
    <i class="fa-solid fa-wallet"></i>
  <% end %>

  <%= link_to missions_path do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>

