
<br>
<br>
<h3 class="titre-calendar">Your Calendar</h3>
<br>

<div class="calendar-container">
  <%= month_calendar(events: @missions, attribute: :start_date, end_attribute: :end_date) do |date, missions| %>
    <%= date %>


      <div class="meeting">
        <% missions.each do |mission| %>
          <%= mission.title %>
        <% end %>
      </div>
  <% end %>
</div>
