
<br>
<br>
<div class="container calendar-title"><h1>My Calendar</h1></div>


<div class="calendar-container">
  <%= month_calendar(events: @missions, attribute: :start_date, end_attribute: :end_date) do |date, missions| %>
    <%= date %>


      <% missions.each do |mission| %>
        <div class="meeting">
          <%= mission.title %>
        </div>
      <% end %>
  <% end %>
</div>
