
<br>
<br>
<h3 class="titre-calendar">Your Calendar</h3>
<br>

<div class="calendar-container">
  <%= month_calendar(events: @missions, attribute: :start_date, end_attribute: :end_date) do |date, missions| %>
    <%= date %>


      <% missions.each do |mission| %>
        <div class="meeting">
          <%= mission.title %>
        </div>
      <% end %>
  <% end %>
</div>
