<h1>YOUR CALENDAR</h1>

<div class="calendar-container">
  <%= month_calendar(events: @missions, end_attribute: :end_date) do |date, missions| %>
    <%= date %>

    <% missions.each do |mission| %>
      <div class="meeting">
        <p><%= mission.name %></p>
        <small><%= mission.time unless mission.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
