.footer {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 60px;
  bottom: 0;
  padding: 0 20px;
  border-top: solid green;
  width: 100%;
  margin-bottom: 0;
  position: sticky;
}

.footer a {
  display: block;
  width: 25%;
  text-align: center;
}

.footer i {
  font-size: 24px;
  color: #333;
}

.calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 60px;
  bottom: 0;
  padding: 0 20px;
  border-top: solid green;
  width: 100%;
  margin-bottom: 0;
  position: fixed;
}

.footer-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEF4ED;
  height: 60px;
  bottom: 0;
  padding: 0 20px;
  background-color: #FDF1ED;
  width: 100%;
  margin-bottom: 0;
}

.social-media {
  font-size: 30px;
  margin-left: 50px;
}
