// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "form_new_missions";
@import "footer";
@import "calendar";
@import "chatroom";

$my-blue: #e0eaf2;



// *, ::before, ::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

body {
  font-family: Monserrat;
  // background: url("Banner.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
}



  .index-bg {
    background-color: $my-blue;
  }

  .search-bar {
    margin: 4px;
    padding: 4px;
    margin-right: 8px;
  }
