// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "form";
@import "footer";
@import "calendar";


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Monserrat;
  // background: url("Banner.png");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100vh;
}

.container1{
  max-width: 1400px;
  margin: 100 auto 0;
  padding: 100px 20px 0;
}


h3{
  font-weight: bolder;
  text-transform: uppercase;
  color:#eadddd;
  color: transparent;
  font-size: 50px;;
}
h3 span {
  display:inline-block;
  position: relative;
  overflow: hidden;
  font-size: clamp(20px, 8vw, 100px);
}

h3 span::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

h3:nth-child(1) {
  font-weight: 200;
  animation: txt-appearance 0s 1s
  forwards;
}

// h3:nth-child(2) {
//   animation: txt-appearance 0s 1.50s
//   forwards;
// }

h3:nth-child(1) span::after{
  background: rgb(215, 179, 95);
  animation: slide-in 0.75s ease-out forwards,
  slide-out 0.75s ease-out forwards;
}

// h3:nth-child(2) span::after{
//   background: royalblue;
//   animation: slide-in 0.75s 0.3s ease-out forwards,
//   slide-out 0.75s 2s ease-out forwards;

// }






h6{
  font-weight: bolder;
  font-family: Monserrat, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color:#b4a5a5;
  color: transparent;
  font-size: 15px;
}
h6 span {
  display:inline-block;
  position: relative;
  overflow: hidden;
  font-size: clamp(20px, 8vw, 50px);
}

h6 span::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}



h6:nth-child(2) {
  animation: txt-appearance 0s 1.50s
  forwards;
}


h6:nth-child(2) span::after{
  background: royalblue;
  animation: slide-in 0.75s 0.3s ease-out forwards,
  slide-out 0.75s 2s ease-out forwards;

}

 @keyframes slide-in{
    100%{
     transform: translateX(0%);
    }
 }

 @keyframes slide-out{
  100%{
   transform: translateX(100%);
  }
}

@keyframes txt-appearance{
  100%{
   color: whitesmoke;
  }
}


// *, ::before, ::after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// body {
//   font-family: Arial, Helvetica, sans-serif;
//   height: 100vh;
// }


// .accueil h1 {
//   font-size: 120px;
//   margin-bottom: 450px;
//   text-align: center;
// }

// /* loader */

// .loader {
//   position: absolute;
//   width: 100%;
//   height: 50%;
//   background: #020645;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .lettre {
//   color: #484848;
//   font-size: 80px;
//   letter-spacing: 15px;

//   margin-top: 50px;
//   animation: flash 1.2s linear infinite;
// }
// @keyframes flash {
//   0% {
//       color: #00ff80;
//       text-shadow: 0 0 7px #2600ff;
//   }
//   90% {
//       color: #484848;
//       text-shadow: none;
//   }
//   100% {
//       color: #2600ff;
//       text-shadow: 0 0 7px #2600ff;
//   }
// }

// .lettre:nth-child(1){
//   animation-delay: 0.1s;
// }
// .lettre:nth-child(2){
//   animation-delay: 0.2s;
// }
// .lettre:nth-child(3){
//   animation-delay: 0.3s;
// }
// .lettre:nth-child(4){
//   animation-delay: 0.4s;
// }
// .lettre:nth-child(5){
//   animation-delay: 0.5s;
// }
// .lettre:nth-child(6){
//   animation-delay: 0.6s;
// }
// .lettre:nth-child(7){
//   animation-delay: 0.7s;
// }
// .lettre:nth-child(8){
//   animation-delay: 0.8s;
// }
// .lettre:nth-child(9){
//   animation-delay: 0.9s;
// }
// .lettre:nth-child(10){
//   animation-delay: 1s;
// }

// .fondu-out {
//   opacity: 0;
//   transition: opacity 0.4s ease-out;
// }

  .btn-primary {
    background: rgb(89.8, 68.2, 0);
    background: linear-gradient(0deg, rgb(89.8, 68.2, 0) 0%, rgb(89.8, 68.2, 0) 100%);
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    // background-color: #ff5a5f;
    // border-color: #ff5a5f;
  }

  .btn-primary:hover {
    background: rgb(189,183,107);
    background: linear-gradient(0deg, rgb(189,183,107) 0%, rgb(189,183,107) 100%);
    border: none;
    // background-color: #ff4449;
    // border-color: #ff4449;
  }

  // .btn-secondary {
  //   background-color: #A9A9A9;  // background-color: #484848;
  //   border-color: #A9A9A9;
  //   // background-color: #484848;
  //   // border-color: #484848;
  // }

  .btn-secondary:hover {
    background-color: #363636;
    border-color: #363636;
  }

  .btn-danger {
    background: rgb(189,183,107);
    background: linear-gradient(0deg, rgb(189,183,107) 0%, rgbrgb(189,183,107) 100%);
    border: none;
  }
  .btn-danger:hover  {
    background: rgb(238,232,170);
    background: linear-gradient(0deg, rgb(238,232,170) 0%, rgb(238,232,170) 100%);
  }

  .index-bg {
    background-image: url('etoile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
  }

  .col-md-4.mb-4 {
    margin-bottom: 20px;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.8); /* Ajouter de la transparence */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajouter une ombre légère pour plus de profondeur */
    border-radius: 20px;

  }

  .card-img-top {
    background-color: rgba(255, 255, 255, 0.8); /* Ajouter de la transparence */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

  }

  .list-group-item {
    background-color: rgba(255, 255, 255, 0.8); /* Ajouter de la transparence */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


  }
