// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "form";
@import "footer";
@import "calendar";


  .btn-primary {
    background: rgb(89.8, 68.2, 0);
    background: linear-gradient(0deg, rgb(89.8, 68.2, 0) 0%, rgb(89.8, 68.2, 0) 100%);
    border: none;
    // background-color: #ff5a5f;
    // border-color: #ff5a5f;
  }

  .btn-primary:hover {
    background: rgb(189,183,107);
    background: linear-gradient(0deg, rgb(189,183,107) 0%, rgb(189,183,107) 100%);
    border: none;
    // background-color: #ff4449;
    // border-color: #ff4449;
  }

  .btn-secondary {
    background-color: #A9A9A9;  // background-color: #484848;
    border-color: #A9A9A9;
    // background-color: #484848;
    // border-color: #484848;
  }

  .btn-secondary:hover {
    background-color: #363636;
    border-color: #363636;
  }

  .btn-danger {
    background: rgb(189,183,107);
    background: linear-gradient(0deg, rgb(189,183,107) 0%, rgbrgb(189,183,107) 100%);
    border: none;
  }
  .btn-danger:hover  {
    background: rgb(238,232,170);
    background: linear-gradient(0deg, rgb(238,232,170) 0%, rgb(238,232,170) 100%);
  }

  .index-bg {
    background-image: url('etoile.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
  }

  .col-md-4.mb-4 {
    margin-bottom: 20px;
  }
