                                              <h1>Wallet</h1>

 <%# afficher voucher et leur points %>


      <strong> You unlocked </strong> <%= @voucher.booking.mission.reward %> points for your completed mission





<%# aficher le nb de points de la mission
afficher le total_points
puis afficher la possibilité de crrer un voucher pour un nombre de points affecté par l'utilisateur %>
